* {
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(135deg, #ebebcb, #e3dbc1, #cfcab8);
}


/* ======= Header style ====== */
.header {
    text-align: center;
    background-color: #615F57;
    color: white;
}

.logo {
    width: 70px;
    position: relative;
    top: 20px;
    right: 2px;
}

.header-title {
    display: inline-block;
    letter-spacing: 1.5;
    font-family:"Ink Free" ;
    font-size: 35px;
    font-weight: 700;
}

/* ======== Card Main Style ======== */
.card-main {
    background-image: linear-gradient(235deg, #f1f1cb, #e7e2cd, #ccc9bb);
    box-shadow: #616157 0 0 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 280px;
    text-align: center;
    border-radius: 20px;
    margin-top: 60px;
}

.title-card {
    padding: 1px;
}

.img-msc {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/* ===== Barra de Progresso ====== */
#progresso {
    -webkit-appearance: none;
    width: 90%;
    height: 7px;
    border-radius: 25px;
    background-image: linear-gradient(90deg, #a4a195, #858276, #706e66);
}

#progresso::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #3b3a36;
    cursor: pointer;
}

#tempoPercorrido {
    float: left;
    margin-left: 6%;
}

#tempoTotal {
    float: right;
    margin-right: 6%;
}

/* ======= Boton Style ======= */
.btn {
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
    width: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #615f578a;
}

/* ====== Frase sttle ========*/
.card-frase {
    display: none;
}

/* ======= Article style ======= */
.article {
    text-align: center;
    margin-top: 60px;
    background-color: #b5b2a4;
    padding: 15px 40px 15px 40px;
}

.article>img {
    width: 70%;
    margin: 10px;
}

.article>h3 {
    margin: 0;
}


/* ====== Footer Style ======= */
.footer {
    background-color: #615F57;
    color: white;
    text-align: center;
    width: 100%;
}

.p {
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    font-weight: 100;
    margin-bottom: 20px;
    margin-top: 10px;
}

.ico {
    display: inline-block;
    width: 35px;
    position: relative;
    left: 5px;
    top: 10px;
}

.link {
    color: rgb(255, 255, 255);
    font-weight: 700;
}



/* =-=-=-=-= Media Queries =-=-=-=-= */



/* ======Dekstops====== */
@media screen and (min-width: 800px) {

    /* ======== Card Main Style ======== */
    .card-main {
        position: relative;
        left: 30%;
        transform: translate(-50%);
    }

    /* ====== Frase sttle ========*/
    .card-frase {
        display: block;
        position: absolute;
        width: 40%;
        text-align: center;
        top: 300px;
        left: 70%;
        transform: translate(-50%);
    }

    .frase {
        font-size: 26px;
        font-weight: 700;
    }

    /* ====== Article style ====== */
    .article {
        text-align: center;
        margin-top: 60px;
        background-color: #b5b2a4;
        padding: 15px 40px 15px 40px;
    }

    article {
        width: 70%;
        margin: auto;
    }

    .article>img {
        width: 50%;
        margin: 10px;
    }

    .article>h3 {
        margin: 0px;
    }
}

/* ======Celular======= */
@media screen and (max-width: 420px) {

    /* ======= Header style ======= */
    .header-title {
        display: inline-block;
        font-size: 30px;
    }

    /* ========Card Main Style======== */
    .header .card-main {
        background-image: linear-gradient(235deg, #f1f1cb, #e7e2cd, #ccc9bb);
        box-shadow: #616157 0 0 10px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 240px;
        text-align: center;
        border-radius: 20px;
        margin-top: 60px;
    }

    .img-msc {
        width: 150px;
        height: 150px;
        /* border-radius: 50%; */
    }

    /* ======Footer Style======= */
    .p {
        font-family: 'Courier New', Courier, monospace;
        display: inline-block;
        font-weight: 100;
        font-size: 14px;
    }

    .ico {
        display: inline-block;
        width: 35px;
        position: relative;
        left: 5px;
        top: 10px;
    }

}