* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(135deg, #ebebcb, #e3dbc1, #cfcab8);
}

/* ======== CONTAINER MAIN ======== */
.container__main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.card-music {
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(235deg, #f1f1cb, #e7e2cd, #ccc9bb);
  box-shadow: #616157 0 0 10px;
  width: 280px;
  text-align: center;
  border-radius: 8px;
}

.card-sentence {
  display: none;
}

.img-msc {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* === PLAYLIST === */
#playlist {
  position: absolute;
  bottom: -100%;
  right: 0;
  left: 0;

  transition: all 0.8s ease;
  border-radius: 8px;
  background-color: #282828;
  color: #efefef;
  z-index: 5;
}

.item-playlist {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.item-playlist:hover {
  background-color: #e7e2cd;
  color: black;
}

.item-playlist div {
  margin-left: 5px;
  pointer-events: none;
}

.item-playlist span {
  margin-right: 5px;
  pointer-events: none;
}

.img_open_playlist {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 35px;
  right: 20px;
  cursor: pointer;
}

.img_open_playlist:active {
  transform: scale(0.90);
}

.container_close {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.container_close img {
  width: 20px;
  cursor: pointer;
}

.container_close img:active {
  transform: scale(0.90);
}

.active-music-playlist {
  background-color: #e7e2cd;
  color: #202020;
  position: relative;
}

.active-music-playlist div::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 6px;
  background-image: url(../icons/sound.gif);
  background-size: cover;
  background-repeat: no-repeat;
}

/* ===== BARRA DE progresso ====== */
#progress {
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  height: 7px;
  border-radius: 25px;
  background-image: linear-gradient(90deg, #9e9c93, #858276, #706e66);
  cursor: pointer;
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #000000;
  cursor: pointer;
}

#progress::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #000000;
  cursor: pointer;
}

#timeCurrent {
  float: left;
  margin-left: 6%;
}

#timeTotal {
  float: right;
  margin-right: 6%;
}

/* ======= BOTÕES ======= */
.btn {
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;
  width: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 450ms;
}

.btn:hover {
  background-color: #615f5780;
}

.btn:active {
  transform: scale(0.95);
}

@media screen and (min-width: 800px) {

  /* ======== CONTAINER MAIN ======== */
  .container__main {
    gap: 50px;
  }

  /* ====== FRASE ========*/
  .card-sentence {
    display: flex;
    width: 40%;
    text-align: center;
  }

  .card-sentence>p {
    font-size: 26px;
    font-weight: 700;
  }
}

@media screen and (max-width: 420px) {

  /* ====== CONTAINER MAIN ===== */
  .card-main>h2 {
    font-size: 20px;
  }

  .card-main {
    width: 240px;
  }

  .img-msc {
    width: 150px;
    height: 150px;
  }

  /* === PLAYLIST === */
  .img_open_playlist {
    width: 22px;
    height: 22px;
    right: 10px;
  }

  /* ======= BOTÕES ======= */
  .btn {
    width: 45px;
  }
}